* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #1E2832;
}

header a {
    text-decoration: none;
}

header img {
    float: left;
    height: 60px;
}

.center {
    padding-bottom: 20px;
}

.title {
    color: white;
}

.gallery {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 240px;
    margin: 30px;
}

.card img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.canvas {
    margin: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    background-color: #1E2832;
    text-align: center;
}