.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 45%;
    background: indianred;
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%;
}

.row {
    width: 100%;
    justify-content: left;
    display: flex;
}
